@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "fonts.css";

@media (min-width: 1200px) {
  .container {
    min-width: 1294px;
  }
}

header {
  z-index: 2;
  padding: 30px 0;

  nav form .search_input {
    top: 20px;
    right: calc(50% - 70px);
  }

  .form-control {
    height: calc(1em + 0.75rem + 2px);
    width: 200px;
  }

  .navbar-expand-lg {
    .navbar-nav .first-link {
      margin: 0 16px;
      padding: 0;
    }

    .navbar-nav .second-link {
      margin: 0 17px 0 16px;
      padding: 0;
    }

    .navbar-nav .third-link {
      margin: 0 22px 0 17px;
      padding: 0;
    }

    .navbar-nav .fourth-link {
      margin: 0 22px;
      padding: 0;
    }
  }

  .nav-link, .basket_logo {
    margin: 0 13px;
    padding: 0;
  }

  .dropdown-toggle::after {
    border: solid;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.main_banner {
  padding-top: 109px;
  padding-bottom: 37px;

  .background-color {
    background: #DCE5E2;
    border-radius: 32px;
  }

  .owl-carousel {
    .owl-nav {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;

      button.owl-prev {
        border: solid;
        border-width: 0 2px 2px 0;
        display: inline-block;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        color: #000000;
        position: absolute;
        top: -284px;
        left: 20px;
        padding: 7px;
      }

      button.owl-next {
        border: solid;
        border-width: 0 2px 2px 0;
        display: inline-block;
        transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        color: #000000;
        position: absolute;
        top: -284px;
        right: 20px;
        padding: 7px;
      }
    }

    .owl-dots {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: 34px;
    }

    button.owl-dot {
      border-bottom: solid 2px #000000;
      width: 194px;
      margin: 0 17px;
      padding: 6px 0;
    }
  }


  .text_content {
    padding-top: 145px;
    padding-bottom: 127px;
    padding-left: 56px;
    padding-right: 30px;

    h1 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: #000000;
    }

    p {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      margin-bottom: 30px;
    }

    a {
      border: 1px solid #000000;
      border-radius: 200px;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      padding: 14px 53px;
    }
  }

  .main_banner_img_1 {
    background-image: url("../images/IMAGE1.webp");
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-right: 30px;
  }

  .main_banner_img_2 {
    background-image: url("../images/IMAGE2.webp");
    background-size: cover;
    background-position: center;
    height: 100%;
  }

  .main_banner_img_3 {
    background-image: url("../images/IMAGE3.webp");
    background-size: cover;
    background-position: center;
    height: 100%;
  }

}

.categories_banner {
  padding-top: 28px;
  padding-bottom: 39px;

  .container {
    h3 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      color: #000000;
    }

    p {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
  }

  .cont_text {
    max-width: 628px;
    margin: 0 16px;
    margin-bottom: 55px;
  }

  .cont_banner_1 {
    padding-left: 42px;
    padding-right: 42px;
    margin-bottom: 72px;

    img {
      padding-right: 55px;
    }
  }

  .cont_banner_2 {
    padding-left: 42px;
    padding-right: 42px;
  }

  .cont_banner_3 {
    padding-top: 144px;
    padding-bottom: 144px;

    img {
      padding-bottom: 41px;
    }
  }

  .cont_banner_4 {
    padding-top: 118px;
    padding-bottom: 127px;

    h3 {
      padding-bottom: 42px;
    }
  }
}

.items_banner {
  padding-top: 39px;
  padding-bottom: 27px;

  .container {
    .background_img {
      padding: 28px;
      display: flex;
      justify-content: center;
    }
  }
}

.best_around_banner {
  padding-top: 47px;
  padding-bottom: 20px;

  img {

    background-size: cover;
    background-position: center;
    height: 100%;
  }

  .best_around_mard {
    margin-bottom: 56px;
  }

  .border_rad {
    border-radius: 16px;
    padding-top: 41px;
    min-height: 580px;
  }

  a {
    border: 1px solid #000000;
    border-radius: 200px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 14px 53px;
  }
}

.ideas_banner {
  padding-top: 47px;
  padding-bottom: 24px;

  .ideas_marg {
    margin-bottom: 56px;
  }
}

.search_banner {
  padding-top: 51px;
  padding-bottom: 11px;

  .border_rx32-l {
    border-radius: 32px 0 0 32px;
    border-right: 0;
  }

  .border_rx32-r {
    border-radius: 0 32px 32px 0;
    border-left: 0;
  }

  .search_form {
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 14px;
  }

  .gift_background {
    background: #DCE5E2;
    border-radius: 16px;
    padding-top: 47px;
    padding-bottom: 43px;
  }

  .email_form {

    .email_input {
      background-color: #DCE5E2;
      border: 1px solid #000000;
      border-radius: 54px 0 0 54px;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 32px;
    }

    .sign_form {
      background: #000000;
      border-radius: 0 200px 200px 0;
      padding: 16px 33px 17px 32px;
    }
  }
}


/*----ARROW----*/
.arrow {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 15px;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    border-style: solid;
    border-color: #000;
    border-width: 3px 3px 0 0;
    position: absolute;
    transform-origin: 50% 50%;
  }

  &.up::before {
    transform: rotate(360deg);
    margin: 0;
  }

  &::after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    border: 3px solid #151A1E;
    position: absolute;
    transform-origin: 50% 50%;
  }

  &.up::after {
    width: 0;
    height: 18px;
    border-radius: 25px;
    border-width: 0 3px 0 0;
    transform: rotate(45deg);
    margin: -1px 0px 0px 5px;
  }
}

.border_rx32 {
  border-radius: 0 32px 32px 0;
}


