@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

header {
  padding: 30px 0;
  .navbar-expand-lg {
    .navbar-nav .first-link {
      margin: 0 16px;
      padding: 0;
    }

    .navbar-nav .second-link {
      margin: 0 17px 0 16px;
      padding: 0;
    }

    .navbar-nav .third-link {
      margin: 0 22px 0 17px;
      padding: 0;
    }

    .navbar-nav .fourth-link {
      margin: 0 22px;
      padding: 0;
    }
  }

  .nav-link, .basket_logo {
    margin: 0 13px;
    padding: 0;
  }

  .dropdown-toggle::after {
    border: solid;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.main_banner {
  padding-top: 108px;
  padding-bottom: 37px;

  .background-color {
    background: #DCE5E2;
    border-radius: 32px;
  }

  .text_content {
    padding-top: 145px;
    padding-bottom: 127px;
    padding-left: 56px;

    p {
      margin-bottom: 30px;
    }
  }

  .img-1 {
    background-image: url("../images/IMAGE1.png");
    background-size: cover;
    height: 100%;
    background-position: center;
  }
}


